.registerForm {
    position: absolute;
    top:50%;
    left:50%;
    width:400px;
    margin-left:-200px;
    height:auto;
    margin-top:-230px;
    margin-bottom: 200px;
    border:3px solid green;
    border-radius: 5px;
    padding:5px;
    text-align: center;
    background-color: #98C12A;
    z-index: -1;
    color: #256F83;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}
