.container {
    border:3px solid green;
    border-radius: 5px;
    background-color: #98C12A;
    z-index: -1;
    color: #256F83;
    padding: 15px;
}

.profile-photo {
    height: 150px;
    width: 150px;
    background-color: yellow;
    margin-top: 30px;
}

.profile-photo img {
    height: 150px;
    width: 150px;
    border: 2px solid #256F83;
}

#photo {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label[for="photo"] {
    font-size: 12px;
    font-weight: 600;
    color: #FFF;
    background-color: #256F83;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 5px 10px !important;
    margin-left: 17.75px;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
}

.btn-info {
    font-size: 10px;
    font-weight: 600;
    color: #FFF;
    background-color: #256F83;
    border-color: #256F83;
    display: inline-block;
    float: right;
    transition: all .5s;
    cursor: pointer;
    padding: 5px 10px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
}
